@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color:  rgb(136, 246, 254);
}

nav{
    background-color: rgb(37, 9, 37);
    color: rgb(7, 1, 1);
    height: 65px;
    width:1500px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Baloo Bhaina 2', cursive;
}

nav ul{
    list-style-type: none;
}

.gameContainer{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}
.con{
    display: flex;
    flex-direction: row;
    justify-content: center
}
.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(68, 242, 254);
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    color: darkblue;
}

#reset{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 235px;
    padding: 6px 18px;
    background: #c472ed;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'georgia';
    font-size: 15px;
    font-weight: bolder;
}
#reset:hover{
    
    background: #a205f1;

    cursor: pointer;
    color: white;
    font-family: 'georgia';
    font-size: 15px;
    font-weight: bolder;
}
.gameInfo{
    padding: 150px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.gameInfo h1{
    font-size: 2.5rem;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
    margin-left: 154px;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}



.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}
